---
import { Image } from "astro:assets";
import Imageacceuil from "../../src/assets/img/image 1.png";
import { pb } from "../js/backend.js";
import Layout from "../layouts/Layout.astro";
---

<head>
  <meta charset="UTF-8" />
</head>
<body>
<Layout>
  <div
    class="absolute inset-0 bg-cover bg-center opacity-40"
    style="background-image: url('/images/eco-cinema-banner.jpg');"
  >
  </div>
  <div class="relative text-center max-w-3xl px-6">
    <h1 class="text-4xl md:text-6xl font-bold">Animania</h1>
    <p class="text-4xl md:text-6xl font-bold">
      <strong>Contact</strong>
    </p>
    <div>
      <p class="text-4xl md:text-6xl font-bold">
        <strong>Nom:</strong>
      </p>
    </div>
    <div>
      <p class="text-4xl md:text-6xl font-bold">
        <strong>Prénom:</strong>
      </p>
    </div>
    <div>
      <p class="text-4xl md:text-6xl font-bold">
        <strong>Mail:</strong>
      </p>
    </div>
    <div>
      <p class="text-4xl md:text-6xl font-bold">
        <strong>Message:</strong>
      </p>
    </div>
  </div>
</body>