---
import { Picture } from "astro:assets";
// import { pb } from "../../backend/pb.ts";
const {
  record,
  field = "imgUrl",
  alt,
  classPicture,
  classImg,
  thumb = "1024x1024",
} = Astro.props;

const imageUrl = record?.[field]
  ? pb.files.getURL(record, record[field], { thumb })
  : null;
---

<head>
  <meta charset="UTF-8" />
</head>
<section
  class="relative w-full h-screen bg-green-900 text-white flex items-center justify-center"
>
  <div
    class="absolute inset-0 bg-cover bg-center opacity-40"
    style="background-image: url('/images/eco-cinema-banner.jpg');"
  >
  </div>
  <div class="relative text-center max-w-3xl px-6">
    <h1 class="text-4xl md:text-6xl font-bold">Animania</h1>
    {
      imageUrl && (
        <Picture
          pictureAttributes={{ class: classPicture }}
          class={classImg}
          inferSize={true}
          formats={["avif", "webp"]}
          alt={alt || "Image"}
          src={imageUrl}
        />
      )
    }
    <p class="mt-4 text-lg md:text-xl">
      Plongez dans l'univers captivant de l'animation japonaise et découvrez un
      monde riche en créativité, en émotions et en imagination. Que vous soyez
      un passionné de mangas, un adepte des animes, ou simplement curieux de
      découvrir cette culture fascinante, ce festival est fait pour vous !
    </p>
  </div>
  <p class="text-4xl md:text-6xl font-bold">
    <strong>Du 11 au 13 juillet 2025</strong>
  </p>
  <p class="text-4xl md:text-6xl font-bold">
    <strong>Le studio Ghibli</strong>
  </p>
  <p class="mt-4 text-lg md:text-xl">
    Le Studio Ghibli est un célèbre studio d'animation japonais, fondé par Hayao
    Miyazaki et Isao Takahata en 1985. Connu pour ses chefs-d'œuvre tels que Le
    Voyage de Chihiro et Mon Voisin Totoro, il se distingue par ses récits
    poétiques et ses animations soignées.
  </p>
  <p class="text-4xl md:text-6xl font-bold">
    <strong>Nos partenaires</strong>
  </p>
</section>
