---
// Importation des icônes nécessaires
// import LogoFooter from '../assets/icones/icon_logoFooter.svg';
// import IconFacebook from '../assets/icones/icon_facebook.svg';
// import IconInstagram from '../assets/icones/icon_instagram.svg';
// import IconTwitter from '../assets/icones/icon_twitter.svg';
// import IconYoutube from '../assets/icones/icon_youtube.svg';
import Logo from "../assets/icones/logo_white.svg";
---

<footer class="bg-black text-white py-16 px-6 space-y-8 lg:space-y-0">
  <div class="container mx-auto grid grid-cols-1 lg:grid-cols-12 gap-8">
    <!-- Logo Animania -->
    <div class="lg:col-span-3 flex justify-center lg:justify-start">
      <!-- <LogoFooter/> -->
    </div>
    <div class="flex items-center">
      <a href="/" aria-label="Accueil">
        <img src={Logo.src} alt="Logo Animania" class="h-10 w-auto" />
      </a>
    </div>
    <style lang="css">
      footer {
        background: #000000;
      }
      .classe_footer {
        align-items: center;
      }
      footer p,
      footer a,
      footer h2,
      footer h3,
      footer address {
        color: white;
      }
    </style>
    <!-- Menu -->
    <nav class="lg:col-span-3">
      <h2 class="font-bold uppercase">Festival Animania</h2>
      <h3 class="font-bold uppercase">Menu</h3>
      <li>
        <a href="/planning" class="hover:text-gray-700">Planning</a>
      </li>
      <li>
        <a href="/Tarifs" class="hover:text-gray-700">Tarifs et informations</a>
      </li>
      <li>
        <a href="/Contact" class="hover:text-gray-700">Contact</a>
      </li>
      <li>
        <a href="/A propos" class="hover:text-gray-700">À propos</a>
      </li>
    </nav>

    <!-- Contact -->
    <div class="lg:col-span-3">
      <h3 class="font-bold uppercase">Contact</h3>
      <address class="not-italic">
        Parc des expositions de Belfort<br />
        <a href="mailto:animania@agglo-belfort.fr" class="hover:underline"
          >Animania@agglo-belfort.fr</a
        >
      </address>
    </div>
    <!-- Mention Grand Belfort -->
    <div class="text-center mt-8">
      <p class="font-bold uppercase">Grand Belfort</p>
    </div>
  </div>
</footer>
